.formPluginField {
	margin:0 0 1em 0;
}
.foswikiFormStep .formPluginField {
	margin:0 0 .5em 0;
}
.formPluginNotification {
	background-color:#fff3d8;
}
.formPluginNotification,
.formPluginNotification code,
div.formPluginNotification a:link,
div.formPluginNotification a:visited {
	color:#ee3312;
}
div.formPluginNotification {
	border-color:#ffc23c;
	background-image:url(error.gif);
	background-repeat:no-repeat;
	background-position:14px 16px;
}
div.formPluginNotification ul {
	margin:0 0 .25em 30px;
	padding:0;
	list-style:none;
}
div.formPluginNotification a:link,
div.formPluginNotification a:visited {
	text-decoration:underline;
}
fieldset.formPluginGroup {
	display:inline;
	vertical-align:middle;
	border:none;
	padding:4px 30px 4px 4px;
	margin:0;
}
fieldset.formPluginGroup label {
	display:block;
}
fieldset.formPluginGroup.formPluginInlineLabels label {
	display:inline;
}
fieldset.formPluginGroup.formPluginHint,
fieldset.formPluginGroup.formPluginMandatory {
	border-right:1px solid #ccc;
}
.foswikiInputField.formPluginError,
.formPluginGroup.formPluginError {
	background-color:#ffc23c;
}
label.formPluginError {
	display:block;
	color:#f00;
}
.formPluginHint {
	color:#777;
	margin:0 0 0 .2em;
}
span.formPluginMandatory {
	color:#ee3312;
	margin:0 0 0 .2em;
}
